@tailwind base;
@tailwind components;
@tailwind utilities;

$BtnThemeIdle: #16a34a;
$BtnThemeClick: #047857;

body {
  box-sizing: border-box;
}

.active {
  ::after {
    border: 14px solid transparent;
    border-top-color: #047857;
    content: " ";
    right: 10%;
    pointer-events: none;
    position: absolute;
    top: 100%;
  }
}

// Viatial components

.ButtonWithBG {
  background: $BtnThemeIdle;
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  transition: 0.2s ease-in;
}

.ButtonWithoutBG {
  transition: 0.2s ease-in;
}

.RadioBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &:hover input~.radio {
    background-color: #ccc;
  }

  input:checked~.radio {
    background-color: $BtnThemeIdle;

    &:after {
      display: block;
    }
  }

  .radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
}

.CheckBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &:hover input~.checkbox {
    background-color: #ccc;
  }

  input:checked~.checkbox {
    background-color: $BtnThemeIdle;

    &:after {
      display: block;
    }
  }

  .checkbox:after {
    left: 9px;
    top: 2px;
    width: 8px;
    height: 17px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

.ToggleBox {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .toggle {
    color: #eee;
  }

  input:checked~.toggle {
    color: black;
  }
}

.TextInput {
  outline: none;
  padding: 8px;
  border-radius: 4px;
  color: black;
  resize: none;

  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.GSlot {
  position: relative;
  width: 250px;
  height: 345px;
  overflow: hidden;
  background: $BtnThemeClick;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  box-shadow: 5px 3px 20px gray;

  img {
    transition: .2s linear;
  }

  h3 {
    position: absolute;
    transition: .1s ease;
    background: linear-gradient(360deg, black, transparent);
    color: white;
    font-size: 20px;
    height: 0;
    width: inherit;
  }

  &:hover {
    img {
      transform: scale(1.05);
    }

    h3 {
      height: 77px;
    }
  }
}

.Dropdown {
  position: relative;
  display: inline-block;
  user-select: none;
  width: 17%;

  .button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;

    .viewer {
      color: black;
      padding: 12px;
      width: 100%;
      font-size: 16px;
      border: 2px solid;
      border-radius: 4px;
      text-align: center;
    }

    span {
      position: absolute;
      padding: 6px;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    overflow-x: hidden;
    height: 0;
    max-height: 144px;
    background-color: #f9f9f9;
    box-shadow: 2px 1px 10px 0px gray;
    transition: 0.2s cubic-bezier(0, 0.22, 0.41, 1);
    margin-top: 4px;

    button:not(:first-child) {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover {
        background: #dedbdb;
      }
    }
  }

  label {
    position: absolute;
    left: 0.8rem;
    top: -0.7rem;
    background: white;
    padding: 0 2px;
  }
}

.VCard {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  transition: 0.2s ease-in;

  .container {
    position: relative;
    width: 345px;
    height: 245px;
    overflow: hidden;
    margin-bottom: 8px;

    img {
      max-width: 345px;
      max-height: 245px;
      transition: 0.2s linear;

      &:hover {
        transform: scale(1.03);
      }
    }

    .Shadow {
      position: absolute;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
      right: 0;
      left: 0;
      bottom: 0;
      height: 50%;
      pointer-events: none;
    }
  }

  &:hover {
    color: $BtnThemeClick;
  }
}

// Ui components

.Navigation {
  background: #047857;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  li:not(.hidden) {
    display: inline;
    position: relative;

    &:not(:nth-child(2)):before {
      content: "|";
      margin: 0 15px;
      font-size: 20px;
      color: #eee;
    }
  }
}

.Footer {
  text-align: center;
  background: #047857;
  padding: 8px;
  font-size: 20px;
}

// Mobile only mode

@media only screen and (max-width: 480px) {
  .active {
    ::after {
      display: none;
    }

    color: #10b981;
  }

  .highten {
    height: 11rem;
  }

  .Navigation {
    
    ul {
      display: grid;
      justify-items: center;
      transition: .2s cubic-bezier(0, 0.22, 0.41, 1);

      .hidden {
        display: block;
      }

      li {
        margin: 4px;

        &::before {
          display: none;
        }
      }
    }
  }


}