.WorksSection {
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
   display: flex;
   height: 448px;

   .Text {
      color: #f9f9f9;
      margin: 0px 8%;

      h1 {
         font-family: 'IM-English';
         font-size: 20px;
         margin-bottom: 3px;
      }

      h2 {
         font-size: 40px;
      }
   }
}

.NewsSection {
   color: #f9f9f9;
   flex-direction: column;
   align-items: center;
   margin-bottom: 45px;
   display: flex;
   overflow: hidden;
}