.AppsSection {
    text-align: center;
    color: aliceblue;
    margin-top: 46px;
    display: flex;
    justify-content: space-evenly;

    .CardHolder {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 18px;
    }
}