.WorksCard {
    background-image: url("/card.png");
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: 288px;
    display: inline-flex;
    user-select: none;
    color: black;

    .Icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 129px;
        height: 75px;
        position: absolute;
        top: 48px;
        left: 45px;
    }

    .Title {
        text-align: center;
        width: 74px;
        font-size: 15px;
        font-weight: bold;
        position: absolute;
        top: 131px;
        left: 70px;
    }

    .Descript {
        word-wrap: break-word;
        text-align: center;
        width: 130px;
        font-size: 11px;
        /* transform: translate(-2px, -9px); */
        position: absolute;
        top: 164px;
    }

    p {
        margin: 0;
    }
}